body {
  font:  1em 'PT Sans', Arial, sans-serif;
  background-image: url(http://subtlepatterns.com/patterns/grid.png);
}
.container {
  column-count: 2;
  column-gap: 100px;
  column-rule:  2px dashed rgba(0,0,0,.5);
  margin: 50px;
  height: 5000px;
}