ul {
	font-family: Arial;
	color: #333;
  list-style-type: square;
  list-style-position: inside;
  list-style-image:url(http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657638check.png);
}