body {
  background:  url(http://subtlepatterns.com/patterns/grid.png);
  font: 1em Arial, Helvetica, sans-serif;
}
@font-face {
  font-family:  'SignifyLite';
  src:  url('signifylite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.btn, .label {
  text-shadow:  0 1px 0 white;
}
.block {
  background : url(http://subtlepatterns.com/patterns/light_noise_diagonal.png);
  border-radius: 5px;
  box-shadow:  0 3px 20px rgba(0,0,0,.2);
  border-top: 1px solid rgba(255, 255,255,.7);
}
.btn {
  width:  60px;
  height: 60px;
  font:2em signifylite;
  display: inline-block;
  margin:  5px;
  text-align:  center;
  line-height: 49px;
  color:  #333;
  border-radius:  3px;
  transition:  all .5s;
}
.btn:hover {
  color: #eee;
  background:  #333;
  cursor: pointer;
  text-shadow:  none;
  transform: scale(1.2);
}

}
section {
  margin:  3px 40px;
  padding: 20px;
}
section span {
  font-weight: bold;
}
@font-face {
  font-family: PTSans;
  src: url(ptsans_bold.ttf);
  font-weight: bold;
}
.label {
  font-family: PTSans, Arial;
  font-size:  2.4em;
  text-shadow:  0 1px 0 white;
}

